<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager" publicKeyToken="360aac4d3354074b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.3.0.336" newVersion="8.3.0.336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.Common" publicKeyToken="349a39f202fa9b53" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.3.0.10" newVersion="8.3.0.10" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager.Templating" publicKeyToken="360aac4d3354074b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.3.0.336" newVersion="8.3.0.336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager.Publishing" publicKeyToken="360aac4d3354074b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.3.0.336" newVersion="8.3.0.336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tridion.ContentManager.Common" publicKeyToken="ddfc895746e5ee6b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.3.0.336" newVersion="8.3.0.336" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.15.0.0" newVersion="6.15.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>